@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-size: 16px;
  font-family: "Montserrat";
  font-style: normal;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(/src/img/uae.jpeg);
}

.header {
  width: 121.6rem;
  margin: 0 auto;
  height: 90rem;
}
.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.316rem;
}
.header_logo {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}
.header_logo span {
  color: rgb(0, 177, 233);
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.header_menu {
  display: flex;
  gap: 5.2rem;
  list-style-type: none;
  padding: 0;
}
.header_menu_link {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.header_caption {
  color: rgb(255, 255, 255);
  line-height: 80px;
  padding-top: 13.974rem;
}
.header_caption_title {
  font-weight: 700;
  font-size: 43px;
  line-height: 60px;
  text-transform: uppercase;
}
.header_caption_title span {
  padding: 0.3px 1rem;
  background: rgb(7, 175, 145);
}
.header_subtitle {
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 34px;
}

.subtitle_mobile {
  display: none;
}

.btn {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.btn_green {
  width: 14.9rem;
  height: 5.566rem;
  background: rgb(7, 175, 145);
  font-weight: 500;
  font-size: 18px;
}
.btn_green_big {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 326px;
  height: 70px;
  font-weight: 600;
}
.btn_form {
  font-weight: 600;
  font-size: 20px;
  width: 21.9rem;
  height: 80px;
  background: linear-gradient(276.41deg, #016ca8 -7%, #61b5e4 77.16%);
}
.btn_consult {
  display: block;
  margin: 0 auto;
  width: 341.14px;
  margin-top: 20px;
}

.basic_size {
  width: 1216px;
  margin: 0 auto;
}

.main_headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
  color: rgb(17, 120, 178);
}

.service {
  width: 116.1rem;
}

.block_title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: rgb(17, 120, 178);
  margin-bottom: 2.457rem;
}

.block_text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18.4rem;
}
.block_rocket {
  align-items: center;
  margin-bottom: 10.531rem;
}
.block_img {
  width: 49.5rem;
  height: 31.9rem;
}

.rocket {
  background: url(/src/img/rocket.jpeg);
  background-size: cover;
  width: 38.5rem;
  height: 25.5rem;
}

.for_whom_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 10rem;
}

.for_whom_card {
  display: flex;
  height: 34.8rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}
.for_whom_card p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
.for_whom_card div {
  font-weight: 800;
  font-size: 80px;
  color: rgba(17, 120, 178, 0.5);
}
.for_whom_card span {
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.research {
  background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(/src/img/62b3daa5cacf62bd7f7c37d2363b4642.jpeg);
  height: 604px;
  background-position-y: 41%;
  background-size: 101%;
  background-repeat: no-repeat;
  line-height: 60px;
  color: rgb(255, 255, 255);
}
.research_main {
  width: 139.3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.research h2 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 1393px;
  background-color: rgb(7, 175, 145);
  margin: 0 auto;
  margin-top: 139px;
}
.research p {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.manager_avatar {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.market {
  margin-top: 749px;
}

.countries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.countries div {
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #484848;
  background: #EEF1F4;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 56px;
}

.countries div:active {
  font-weight: 700;
  color: #FFFFFF;
  background: #88BBD8;
}

.mena {
  background-image: url(/img/map.svg);
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 167px;
}

.mena_discription {
  width: 294px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.mena_discription p {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
  color: #000000;
}

#highlight {
  color: rgb(7, 175, 145);
}

.mena_discription span {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.mena_discription button {
  display: block;
  width: 252px;
  height: 69.52px;
  border: none;
  background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}

.mena_icon {
  display: grid;
  grid-template: 200px 200px/289px 289px;
  gap: 20px;
}

.icon {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.icon_blue {
  background: #1178B2;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  border-bottom: solid #FFFFFF;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.icon_blue img {
  width: 18px;
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  border-bottom: solid #FFF;
}

.icon_blue span {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  width: 167px;
}

.icon span {
  font-weight: 800;
  font-size: 48px;
  line-height: 20px;
  color: rgba(17, 120, 178, 0.5);
  margin-top: 65px;
}

.icon p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(16, 16, 16, 0.5);
}

.manager {
  display: flex;
  align-items: center;
  gap: 10px;
}

.manager label {
  font-weight: 400;
  font-size: 14px;
  color: #727272;
}

.manager span {
  font-weight: 500;
}