body {
    * {
        margin: 0;
        padding: 0;
        width: 100vw;
        font-family: 'Montserrat';
        font-style: normal;
    }

    .header {
        width: 100vw;
        height: 900px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(/img/uae.jpeg);
        .basic_size{
        .header_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            margin-bottom: 140px;
        }

        .logo {
            font-weight: 700;
            font-size: 24px;
            cursor: pointer;
             
            span {
                color: rgba(0, 177, 233, 1);
            }
        }

        .menu {
            display: flex;
            gap: 52px;

            a {
                text-decoration: none;
                cursor: pointer;
                color: #FFFFFF;
            }
        }
        
        .caption {
            color: #FFFFFF;
            line-height: 80px;
        }
        
        .title {
            font-weight: 700;
            font-size: 43px;
            line-height: 60px;
            text-transform: uppercase;
            span {
                padding: 3px 10px;
                background: #07AF91;
            }
        }
        .btn_green {
            width: 149px;
            height: 55.66px;
            background: #07AF91;
            border-radius: 10px;
            color: #FFFFFF;
            cursor: pointer;
            border: none;
        }
    }
    }

    .basic_size {
        width: 1216px;
        margin: 0 auto;
    }
}