@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
$white: rgb(255, 255, 255);
$light-green: rgb(7, 175, 145);
$blue: rgb(17, 120, 178);
$light-blue: rgb(0, 177, 233);
$black: rgb(0, 0, 0);

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-size: 16px;
    font-family: "Montserrat";
    font-style: normal;
}
header {
    background-image: linear-gradient(rgba($black, 0.59), rgba($black, 0.59)), url(/src/img/uae.jpeg);
}
.header {
    width: 121.6rem;
    margin: 0 auto;
    height: 90rem;

    &_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3.316rem;
    }

    &_logo {
        color: $white;
        font-weight: 700;
        font-size: 24px;
        cursor: pointer;
        span {
            color: $light-blue;
        }
    }

    &_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        color: $white;
        // margin-bottom: 14rem;
    }

    &_menu {
        display: flex;
        gap: 5.2rem;
        list-style-type: none;
        padding: 0;

        &_link {
            text-decoration: none;
            cursor: pointer;
            color: $white;
        }
    }

    &_caption {
        color: $white;
        line-height: 80px;
        padding-top: 13.974rem;

        &_title {
            font-weight: 700;
            font-size: 43px;
            line-height: 60px;
            text-transform: uppercase;
            span {
                padding: 0.3px 1rem;
                background: $light-green;
            }
        }
    }

    &_subtitle {
        font-weight: 400;
        font-size: 34px;
        margin-bottom: 34px;
    }
}

.subtitle_mobile {
    display: none;
}

.btn {
    color: $white;
    border-radius: 10px;
    cursor: pointer;
    border: none;

    &_green {
        width: 14.9rem;
        height: 5.566rem;
        background: $light-green;
        font-weight: 500;
        font-size: 18px;

        &_big {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 326px;
            height: 70px;
            font-weight: 600;
        }
    }

    &_form {
        font-weight: 600;
        font-size: 20px;
        width: 21.9rem;
        height: 80px;
        background: linear-gradient(276.41deg, #016ca8 -7%, #61b5e4 77.16%);
    }

    &_consult {
        display: block;
        margin: 0 auto;
        width: 341.14px;
        margin-top: 20px;
    }
}

.basic_size {
    width: 1216px;
    margin: 0 auto;
}
.main_headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    color: $blue;
}
.service {
    width: 116.1rem;
}
.block_title {
    font-family: "Inter";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $blue;
    margin-bottom: 2.457rem;
}
.block_text {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: $black;
    margin-bottom: 20px;
}
.block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18.4rem;
    &_rocket {
        align-items: center;
        margin-bottom: 10.531rem;
    }
    &_img {
        width: 49.5rem;
        height: 31.9rem;
    }
}
.rocket {
    background: url(/src/img/rocket.jpeg);
    background-size: cover;
    width: 38.5rem;
    height: 25.5rem;
}

.for_whom_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 10rem;
}

.for_whom_card {
    display: flex;
    height: 34.8rem;
    background: $white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    p {
        margin: 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }
    div {
        font-weight: 800;
        font-size: 80px;
        color: rgba($blue, 0.5);
    }
    span {
        font-weight: 600;
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }
}
.research {
    background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(/src/img/62b3daa5cacf62bd7f7c37d2363b4642.jpeg);
    height: 604px;
    background-position-y: 41%;
    background-size: 101%;
    background-repeat: no-repeat;
    line-height: 60px;
    color: $white;
    &_main {
        width: 139.3rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h2 {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        width: 1393px;
        background-color: $light-green;
        margin: 0 auto;
        margin-top: 139px;
    }
    p {
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        color: $white;
    }

}

.manager_avatar {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

// .market {
    
// }

.market_countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    div {
        font-weight: 400;
        font-size: 20px;
        line-height: 60px;
        text-align: center;
        color: #484848;
        background: #EEF1F4;
        border-radius: 5px;
        cursor: pointer;
        // margin-bottom: 56px;
    }
        div:active {
            font-weight: 700;
        color: #FFFFFF;
        background: #88BBD8;
        }
}

.mena {
    background-image: url(/src/img/map.svg);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 167px;
    padding-top: 56px;
    &_discription {
        width: 294px;
        display: flex;
        flex-direction: column;
        gap: 29px;
        p {
            margin: 0;
            font-weight: 600;
            font-size: 32px;
            line-height: 41px;
            text-transform: uppercase;
            color: #000000;
        }
        span {

            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
        }
        &_btn {
            display: block;
            width: 252px;
            height: 69.52px;
            border: none;
            background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
            border-radius: 10px;
            font-weight: 600;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
}

#highlight {
    color: rgba(7, 175, 145, 1);
}

.mena_icons {
    display: grid;
    grid-template: 200px 200px/289px 289px;
    gap: 20px;
}

.mena_icon_item {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    span {
        font-weight: 800;
        font-size: 48px;
        line-height: 20px;
        color: rgba(17, 120, 178, 0.5);
        margin-top: 65px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgba(16, 16, 16, 0.5);
    }
}

.icon_blue {
    background: #1178B2;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-bottom: solid #FFFFFF;
    gap: 25px;
    img {
        width: 18px;
        display: block;
        margin: 0 auto;
        margin-top: 45px;
        border-bottom: solid #FFF;
    }
    span {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        width: 167px;
        margin-top: 0;
    }
}

.manager {
    display: flex;
    align-items: center;
    gap: 10px;
    label {
        font-weight: 400;
        font-size: 14px;
        color: #727272;
    }
    span {
        font-weight: 500;
    }
}